<div id="static-header">
    <div id="logo">
        <img class="static-logo" src="/images/toadLogoS.png">
        <h1>Pebble Prints</h1>
    </div>
    <input class="nav-btn" type="button" value="Home" onclick="window.location.href='/home'"/>
    <input class="nav-btn" type="button" value="Store" onclick="window.location.href='/products/new'"/>
    <input class="nav-btn" type="button" value="Account" onclick="window.location.href='/products/new'"/>
    <input class="nav-btn" type="button" value="Contact" onclick="window.location.href='/products/new'"/>
</div>