<div id="static-header">
    <img class="static-logo" src="/images/toadLogoS.png">
    <input type="button" value="All Products" onclick="window.location.href='/products'"/>
    <input type="button" value="Add New Product" onclick="window.location.href='/products/new'"/>
</div>