body {
    background-color:whitesmoke

}

input {
    background-color: whitesmoke;

}

.static-logo {
    width: 18%;
    margin-right: 15px;
}

#static-header {
    display: flex;
    justify-content: space-around;
}