<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header><%- include('../partials/adminHeader.ejs') %></header>
    <h1>NEW</h1>
    <form action="/products" method="POST">
        name: <input type="text" name="name"/><br>
        color: <input type="text" name="color"/><br>
        material: <input type="text" name="material"/><br>
        weight: <input type="text" name="weight"/><br>
        height: <input type="text" name="height"/><br>
        width: <input type="text" name="width"/><br>
        depth: <input type="text" name="depth"/><br>
        print time: <input type="text" name="print_time"/><br>
        <input type="submit" value="Add Product" />
    </form>
</body>
</html>