<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header><%- include('../partials/genHeader.ejs')%></header>
    <%- include('../partials/banner.ejs')%>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>About</h2>
        </div>
        <div style="margin: 15px; display: flex;">
            <p style="width: 75%; min-width: 300px;">Pebble Prints is a tool for 3D priter users to catalog their prints.<br>View previous prints and their settings to optimize the success of future prints.
            </p>
        </div>
    </div>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>Features</h2>
        </div>
        <ul>
            <li>View all prints that have been catalogged</li>
            <li>Add a new print to the catalog</li>
            <li>Edit existing print entries in the catalog</li>
            <li>Remove existing print entries from the catalog</li>
        </ul>
    </div>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>Future Work</h2>
        </div>
        <ul>
            <li>Create user profile and account for multiple users to use</li>
            <li>Filtering and search methods for entries</li>
            <li>Graphics to display your print activity and success rate</li>
            <li>Choices for unit system (imperial/metric)</li>
</body>
</html>