<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header><%- include('../partials/genHeader.ejs')%></header>
    <%- include('../partials/banner.ejs')%>
    <div></div>
</body>
</html>