<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header><%- include('../partials/genHeader.ejs')%></header>
    <%- include('../partials/banner.ejs')%>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>About</h2>
        </div>
        <div style="margin: 15px;">
            <p>Pebble Prints is an industry leading supplier of 3D printed parts and custom designs. 
                With our one 3D printer, we can pint anything you need and we will get it done faster, and better, than anyone else.
                Our staff at Pebble Prints puts you, the customer, first and are willing to work with you to bring your designs to life.
                Take a look at what we have been up to, our current products, or contact for custom orders!
            </p>
        </div>
    </div>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>Store</h2>
        </div>
    </div>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>Latest Prints</h2>
        </div>
    </div>
    <div class="home-section">
        <div style="border: 2px solid black;">
            <h2>Contact</h2>
        </div>
    </div>
</body>
</html>